<mat-toolbar color="primary" class="app-header" >
    <div><a href="https://www.facebook.com" target="_blank" class="positronx"><img src="https://www.facebook.com/images/fb_icon_325x325.png" alt="Facebook Logo"> </a></div>
    <mat-form-field appearance="outline">
        <mat-label>Search field</mat-label>
        <input matInput placeholder="Search">
        <mat-icon matSuffix>find</mat-icon>
    </mat-form-field>
    <span class = "spacer"></span>
    <span class="nav-tool-items">
        <a mat-button routerLink="/user" routerLinkActive="active">User</a>
        <a mat-button mat-raised-button routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-button mat-raised-button>Create</a>
    </span>
</mat-toolbar>

