<mat-toolbar color="primary" class="app-header" >
    <div><a href="https://www.facebook.com" target="_blank" class="positronx">
        <img src="https://cdn.worldvectorlogo.com/logos/facebook-icon-white.svg" alt="Facebook Logo"class="logo" > 
        </a>
    </div>
        <input matInput placeholder="Search" class="input">
        <i class="material-icons" id="search-icon">search</i>
    <span class = "spacer"></span>
    <span class="nav-tool-items">
        <a mat-button routerLink="/user" routerLinkActive="active" mat-card-avatar class="example-header-image"></a>
        <a mat-button routerLink="/user" routerLinkActive="active"> Coco </a>
        <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-button> Create</a>
    </span>
</mat-toolbar>

